.info {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}

.info__card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: .5rem;
    padding: 1rem;
    background-color: #dddddd;
    margin-bottom: 1rem;
}

.info__card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.info__card > img {
    height: 150px;
    width: 150px;
    margin-bottom: .5rem;
}

.info__card > p {
    max-width: 800px;
    line-height: 1.4;
    letter-spacing: 2.5px;
    margin-bottom: .5rem;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
}

.info__arrows {
    display: flex;
    justify-content: center;
    margin-top: .5rem;
}

.MuiSvgIcon-root {
    color: rgb(211, 3, 166) !important;
    font-weight: bold !important;
}

audio {
    outline-width: 0;
    margin-top: .3rem;
    height: 2rem;
}

.info__caution > p {
    letter-spacing: 1px;
    line-height: 1.4;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}

.info__caution > .copy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 1rem 0;
    font-size: 14px;
    
}

.info__caution {
    position: absolute;
    bottom: 0;
}

.copy > .MuiSvgIcon-root {
    color: red !important;
}

.copy > a {
    text-decoration: none;
    color: rgb(211, 3, 166);
    font-size: 14px;
    font-weight: bold;
}